body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-otel-bul {
    /*margin-top: 45px;*/
    position: absolute;
    bottom: 15px;
    right: 0px;
}

.lbl-otel-bul {
    color: white;
}

#misafir-secim-dropdown {
    margin-left: 15px;
}

#misafir-oda-secim {
    min-width: 400px;
    -webkit-transition: min-width .2s;
    -moz-transition: min-width .2s;
    -ms-transition: min-width .2s;
    -o-transition: min-width .2s;
    transition: min-width .2s;
}

    #misafir-oda-secim.child-1 {
        min-width: 565px
    }

    #misafir-oda-secim.child-2 {
        min-width: 660px
    }

    #misafir-oda-secim.child-3 {
        min-width: 780px
    }

    #misafir-oda-secim .room-count-box {
        float: left;
        padding: 37px 20px 0 0
    }

    #misafir-oda-secim .guest-inc-dec-box {
        float: left
    }

        #misafir-oda-secim .guest-inc-dec-box .popover .arrow, #misafir-oda-secim .guest-inc-dec-box + .popover .arrow {
            display: none
        }

    #misafir-oda-secim .header {
        padding: 10px 15px;
        border-bottom: 1px solid #BEC3C8;
        font-size: 16px;
    }

    #misafir-oda-secim .footer {
        position: relative;
        padding: 15px 50px 15px 15px
    }

        #misafir-oda-secim .footer.bottom {
            border-top: 1px solid #BEC3C8
        }

        #misafir-oda-secim .footer .close-guest-selector {
            position: absolute;
            bottom: 15px;
            right: 15px;
            padding: 10px 15px;
            font-weight: 700
        }

    #misafir-oda-secim .room-count {
        font-size: 14px;
        font-weight: 700;
        display: inline-block
    }

    #misafir-oda-secim .room-label {
        display: block;
        font-weight: 400
    }

#oda-listesi {
    padding: 15px 15px 0;
    margin-bottom: 0;
    list-style-type: none
}

.mrg-btm-10 {
    margin-bottom: 10px;
}

#tesis-yildiz {
    margin-bottom: 15px;
}

#tesis-aciklama {
    margin-bottom: 20px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ohb-btn-duzelt {
    display: inline-block;
    padding-bottom: 10px;
    text-decoration: underline !important
}

.ohb-txt {
    font-size: 19px;
    padding-top:7px;
}

.ohb-txt-fs14 {
    font-size: 14px;
    padding-top: 7px;
}

.ohb-btn-toggle {
    text-decoration: none !important;
    cursor: pointer;
    margin-right: 4px;
    color: black;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/
/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    /*.carousel-caption {
        display: none;
    }*/
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }
