body {
    padding-top: 75px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-otel-bul {
    /*margin-top: 45px;*/
    position: absolute;
    bottom: 15px;
    right: 0px;
}

.lbl-otel-bul {
    color: white;
}

#misafir-secim-dropdown {
    margin-left: 15px;
}

#misafir-secim {
    /*min-width: 400px;*/
    -webkit-transition: min-width .2s;
    -moz-transition: min-width .2s;
    -ms-transition: min-width .2s;
    -o-transition: min-width .2s;
    transition: min-width .2s;
}

    #misafir-secim.child-1 {
        min-width: 565px
    }

    #misafir-secim.child-2 {
        min-width: 660px
    }

    #misafir-secim.child-3 {
        min-width: 780px
    }

    #misafir-secim .room-count-box {
        float: left;
        padding: 37px 20px 0 0
    }

    #misafir-secim .guest-inc-dec-box {
        float: left
    }

        #misafir-secim .guest-inc-dec-box .popover .arrow, #misafir-secim .guest-inc-dec-box + .popover .arrow {
            display: none
        }

    #misafir-secim .header {
        padding: 10px 15px;
        border-bottom: 1px solid #BEC3C8;
        font-size: 16px;
    }

    #misafir-secim .footer {
        position: relative;
        padding: 15px 50px 15px 15px
    }

        #misafir-secim .footer.bottom {
            border-top: 1px solid #BEC3C8
        }

        #misafir-secim .footer .close-guest-selector {
            position: absolute;
            bottom: 15px;
            right: 15px;
            padding: 10px 15px;
            font-weight: 700
        }

    #misafir-secim .room-count {
        font-size: 14px;
        font-weight: 700;
        display: inline-block
    }

    #misafir-secim .room-label {
        display: block;
        font-weight: 400
    }

#oda-listesi {
    padding: 15px 15px 0;
    margin-bottom: 0;
    list-style-type: none
}

.mrg-btm-10 {
    margin-bottom: 10px;
}

#tesis-yildiz {
    margin-bottom: 15px;
}

#tesis-aciklama {
    margin-bottom: 20px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ohb-btn-duzelt {
    display: inline-block;
    padding-bottom: 8px;
    text-decoration: underline !important
}

.ohb-select {
    display: inline-block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 50px;
    border: none;
    background: inherit;
    min-width: 200px;
    box-shadow: none;
}

.ohb-txt {
    font-size: 19px;
    padding-top:7px;
}

.ohb-txt-fs14 {
    font-size: 14px;
    padding-top: 7px;
}

.ohb-inline {
    display: inline-block;
}

.ohb-btn-toggle {
    text-decoration: none !important;
    cursor: pointer;
    margin-right: 4px;
    color: black;
}

.ohb-tesis-img-prev {
    width: 98%;
    /*height: 110%;
    min-height: 300px;*/
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}

.ohb-tesis-alan {
    background-color: #eeeeee;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.ohb-label-islem {
    margin-left:10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/
/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    /*.carousel-caption {
        display: none;
    }*/
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }




#pricing-table {
    text-align: center;
    max-width:740px;
}

    #pricing-table .plan {
        /*font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;*/
        text-shadow: 0 1px rgba(255,255,255,.8);
        background: #fff;
        border: 1px solid #ddd;
        color: #333;
        padding: 20px;
        width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
        float: left;
        position: relative;
        margin-top: 20px;
        /*margin-bottom: 12px;*/
    }

    #pricing-table #enucuz {
        z-index: 2;
        top: -13px;
        border-width: 3px;
        padding: 30px 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
        box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    }

    #pricing-table .plan:nth-child(1) {
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;
    }

    #pricing-table .plan:nth-child(4) {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
    }

    /* --------------- */

    #pricing-table h3 {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        margin: -20px -20px 50px -20px;
        background-color: #eee;
        background-image: -moz-linear-gradient(#fff,#eee);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
        background-image: -webkit-linear-gradient(#fff, #eee);
        background-image: -o-linear-gradient(#fff, #eee);
        background-image: -ms-linear-gradient(#fff, #eee);
        background-image: linear-gradient(#fff, #eee);
    }

    #pricing-table .plan:nth-child(1) h3 {
        -moz-border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        border-radius: 5px 0 0 0;
    }

    #pricing-table .plan:nth-child(4) h3 {
        -moz-border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        border-radius: 0 5px 0 0;
    }

    #pricing-table h3 span {
        display: block;
        font-size: 25px; /*Georgia, Serif;*/
        color: #777;
        background: #fff;
        border: 5px solid #fff;
        height: 100px;
        width: 100px;
        margin: 10px auto -65px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        padding-top: 23px;
    }

    /* --------------- */

    #pricing-table ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }

    #pricing-table li {
        border-top: 1px solid #ddd;
        padding: 10px 0;
    }

    /* --------------- */

    #pricing-table .signup {
        position: relative;
        padding: 8px 20px;
        margin: 0px 0 0 0;
        color: #fff;
        font: bold 14px Arial, Helvetica;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color: #72ce3f;
        background-image: -moz-linear-gradient(#72ce3f, #62bc30);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));
        background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
        background-image: -o-linear-gradient(#72ce3f, #62bc30);
        background-image: -ms-linear-gradient(#72ce3f, #62bc30);
        background-image: linear-gradient(#72ce3f, #62bc30);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-shadow: 0 1px 0 rgba(0,0,0,.3);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    }

        #pricing-table .signup:hover {
            background-color: #62bc30;
            background-image: -moz-linear-gradient(#62bc30, #72ce3f);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));
            background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
            background-image: -o-linear-gradient(#62bc30, #72ce3f);
            background-image: -ms-linear-gradient(#62bc30, #72ce3f);
            background-image: linear-gradient(#62bc30, #72ce3f);
        }

        #pricing-table .signup:active, #pricing-table .signup:focus {
            background: #62bc30;
            top: 2px;
            -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
            box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
        }

/* --------------- */

.clear:before, .clear:after {
    content: "";
    display: table
}

.clear:after {
    clear: both
}

.clear {
    zoom: 1
}

