@{
    ViewData["Title"] = "İletişim";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hacettepe Üniversitesi<br />
    Ankara<br />
</address>

<address>
    <strong>Destek:</strong> <a href="mailto:ibrahimbener@gmail.com">ibrahimbener@gmail.com</a><br />
</address>
