@{
    ViewData["Title"] = "Home Page";
}

<div class="clearfix">
    <div class="container">
        <div class="col-lg-6 col-md-7 col-sm-12">
            <h1>Aradığınız oteli bulun</h1>

            <form name="otelAra" role="form" autocomplete="off" id="ara-form" class="row">
                <div class="form-group autocomplete-container col-xs-12">
                    <label for="otel-region">Şehir ya da otel adı:</label>
                    <input type="text" class="form-control" id="otel-bolge" placeholder="Şehir, bölge ya da otel adı" autocomplete="off">
                </div>

                <div class="form-group col-sm-6 col-xs-12">
                    <label for="giris-cikis-tarih">
                        Giriş - Çıkış Tarihi
                    </label>
                    <div>
                        <input class="form-control" type="button" id="giris-cikis-tarih" value="11 Mayıs 2017 - 13 Mayıs 2017">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>

                <div class="form-group dropdown col-sm-6 col-xs-12">
                    <label>Oda ve misafir sayısı</label>
                    <button id="oda-misafir" type="button" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">1 oda, 2 yetişkin</button>

                    <!-- dropdown -->
                    <div class="dropdown-menu" id="odaSecimDropdown" aria-labelledby="oda-misafir">
                        <div id="misafir-oda-secim">
                            <div class="header clearfix">
                                Oda sayısı
                            </div>
                            <ul id="oda-listesi"><li id="oda-1" class="clearfix" data-oda-id="1"><div><div class="hidden"><div><i class="fa fa-minus-circle"></i></div></div><div>1. Oda</div></div><div data-toggle="popover" data-content="Bir odada en fazla 4 misafir olabilir." data-placement="bottom" data-trigger="manual"><div><label>Yetişkin Sayısı (18+)</label><div><div data-room-id="1"><i class="fa fa-minus-circle"></i></div><input type="text" value="1" readonly=""><div data-room-id="1"><i class="fa fa-plus-circle"></i></div></div></div><div><label>Çocuk Sayısı (0-17)</label><div><div data-room-id="1"><i class="fa fa-minus-circle"></i></div><input type="text" value="0" readonly=""><div data-room-id="1"><i class="fa fa-plus-circle"></i></div></div></div><div data-room-id="1"></div></div></li></ul>
                            <div class="footer">
                                <div id="oda-ekle" data-toggle="popover" data-content="Tek seferde en fazla 4 oda için rezervasyon yapılabilir." data-placement="bottom" data-trigger="manual">
                                    Oda Ekle <i class="fa fa-plus-circle"></i>
                                </div>
                                <button class="btn btn-empty">Kapat</button>
                            </div>
                            <div class="footer bottom">
                                <p class="hide">* Çocuk yaşları girilmeli.</p>
                                <p>* Her oda için en az bir yetişkin seçilmeli.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12  btn-container">
                    <button type="button" class="btn btn-success btn-search-hotel pull-right">
                        Otel bul            <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>