@{
    ViewData["Title"] = "Otel Ara";
}

<div class="clearfix">
    <div class="container col-lg-6 col-md-7 col-sm-12">
        <h1>Aradığınız oteli bulun</h1>

        <form asp-controller="AnaSayfa" asp-action="Index" name="otelAra" role="form" autocomplete="off" id="ara-form" class="row">
            <div class="form-group autocomplete-container col-sm-12">
                <label for="otel-bolge">Şehir ya da otel adı</label>
                <input type="text" class="form-control" id="otel-bolge" placeholder="Şehir, bölge ya da otel adı" autocomplete="off">
            </div>

            <div class="form-group col-sm-6">
                <label for="giris-cikis-tarih">
                    Giriş - Çıkış Tarihi
                </label>
                <div>
                    <input class="form-control" type="button" id="giris-cikis-tarih" value="11 Mayıs 2017 - 13 Mayıs 2017">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>

            <div class="form-group dropdown col-sm-6">
                <label for="oda-misafir">Misafir sayısı</label>
                <button id="oda-misafir" type="button" class="form-control dropdown-toggle" data-toggle="dropdown">1 oda, 2 yetişkin</button>

                <!-- dropdown -->
                <div class="dropdown-menu" id="misafir-secim-dropdown">
                    <div id="misafir-oda-secim">
                        <div class="header clearfix">
                            Misafir sayısı
                        </div>
                        <ul id="oda-listesi">
                            <li id="oda-1" class="clearfix" data-oda-id="1">

                            </li>
                        </ul>
                        <div class="footer">
                            <button class="btn btn-empty">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 btn-container">
                <button type="button" class="btn btn-success btn-search-hotel pull-right">
                    Otel Bul            <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#misafir-secim-dropdown").click(function (e) {
            e.stopPropagation();
        });
    </script>
}