@{
    ViewData["Title"] = "Otel Ara";

    var giris = Helper.GetSonrakiGun(DayOfWeek.Monday, DateTime.Today);
    var cikis = Helper.GetSonrakiGun(DayOfWeek.Sunday, giris);
}

<div class="clearfix">
    <div class="container col-lg-6 col-md-7 col-sm-12">
        <h1>Aradığınız oteli bulun</h1>

        <form asp-controller="Otel" asp-action="Index" name="otelAra" role="form" autocomplete="off" id="ara-form" class="row">
            <div class="form-group col-sm-12">
                <label for="otel-bolge">Şehir ya da otel adı</label>
                <input type="text" class="form-control" id="otel-bolge" name="bolge" placeholder="Şehir, bölge ya da otel adı" autocomplete="off">
            </div>

            @*<div class="form-group col-sm-6">
                <label for="giris-cikis-tarih">
                    Giriş - Çıkış Tarihi
                </label>
                <div class="input-group">
                    <input class="form-control" type="text" id="giris-cikis-tarih" value="11 Mayıs 2017 - 13 Mayıs 2017">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>*@

            <div class="form-group col-sm-6">
                <label for="girisCikis" class="control-label">Giriş - Çıkış Tarihi</label>
                <div class='input-group date' id='daterangepicker1'>
                    <input id="giris-cikis-tarih" type='text' class="form-control text-center" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group dropdown col-sm-6">
                <label for="misafir-sayisi">Misafir sayısı</label>
                <button id="misafir-sayisi" type="button" class="form-control dropdown-toggle" data-toggle="dropdown">2 yetişkin, 0 çocuk</button>

                <!-- dropdown -->
                <div class="dropdown-menu" id="misafir-secim-dropdown">
                    <div id="misafir-secim">
                        <div class="header clearfix">
                            Misafir sayısı
                        </div>
                        <div class="row" style="margin-top:10px;margin-bottom:10px;">
                            <div class="col-sm-4 col-sm-offset-1">
                                <label>Yetişkin</label>
                                <input id="yetiskin" name="yetiskin" class="form-control" type="number" value="2" min="0" />
                            </div>
                            <div class="col-sm-4">
                                <label>Çocuk</label>
                                <input id="cocuk" name="cocuk" class="form-control" type="number" value="0" min="0" />
                            </div>
                        </div>
                        <!--<div class="footer">
                            <button class="btn btn-empty">Kapat</button>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="col-xs-12 btn-container">
                <button type="submit" class="btn btn-success btn-search-hotel pull-right" style="margin-top:20px;">
                    Otel Bul
                    <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
                </button>
            </div>

            <input id="giris" name="giris" type="hidden" value="@giris.ToString("yyyy-MM-dd")" />
            <input id="cikis" name="cikis" type="hidden" value="@cikis.ToString("yyyy-MM-dd")"/>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/otelAra.js"></script>
    <script>
        startDate = "@giris.ToString("dd.MM.yyyy")";
        endDate = "@cikis.ToString("dd.MM.yyyy")";
    </script>
}
